<script>
  var word_list = {{words|safe}}
  function makewordlist(word_list) {
    var min_word_count = 3
    var max_words = word_list.lenght
    var word_count = {}
    for (w in word_list) { if (word_count[word_list[w]]) { word_count[word_list[w]] += 1;  } else { word_count[word_list[w]] = 1; } }
    word_count_map = []
    for (w in word_count) { if (word_count[w] > min_word_count) { word_count_map.push({ word: w, size: word_count[w]})} }
    return word_count_map.slice(0, max_words);
}
  
  var word_count_map = makewordlist(word_list);
  var fontSize = d3.scale.log().range([8, 32]);
  d3.layout.cloud().size([1024, 450])
      .words(word_count_map.map(function(d) {
        return {text: d.word, size: d.size};
      }))
      .rotate(function() { return ~~(Math.random() * 1) * 90; })
      .fontSize(function(d) { return fontSize(d.size); })
      .padding(10)
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("body").append("svg")
        .attr("width", 1024)
        .attr("height", 450)
      .append("g")
        .attr("transform", "translate(480,225)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
</script>

<div id="wordcloud"></div>
